/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
/******************** NAVBAR ********************/
.navbar-brand {
  width: 80%;
}
/* nav {
  z-index: 2;
} */
.logo {
  width: 17.25rem;
}

/**** MENU LINKS *****/
nav a.nav-link {
  font-weight: 300;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin-bottom: -7px;
}

nav .nav-item {
  padding: 1rem;
}

nav ul li {
  text-transform: uppercase;
}

nav button .navbar-toggler-icon {
  color: white;
}

/* nav .container {
  width: 95%;
  margin: auto;
} */

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  border-bottom: 0.1rem solid green;
  /* box-shadow: honeydew 0rem 0rem 0.5rem 0.1rem; */
}

.header-wraper {
  position: relative;
  background-image: url("./bg-header.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 300;
  z-index: 1;
  font-family: "Poppins", sans-serif;
}

.main-info h1 {
  color: rgb(255, 186, 57);
  text-transform: uppercase;
}

.typed-text {
  font-size: 1.6rem;
  color: antiquewhite;
}

.btn-main-offer {
  border: 1px solid rgb(243, 171, 171);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: aliceblue;
  margin: 2rem;
  text-decoration: none;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}
